.my-error-class {
    color:red;
}
.my-valid-class {
    color:green;
}
.mystyle {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
}

.bottom_container{
    margin-top: 50px;
}